@font-face {
    font-family: "Pretendard Variable";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local("Pretendard Variable"),
        url("./src/font/PretendardVariable.woff2") format("woff2-variations");
}

body {
    padding: 3rem;
    font-family: "Pretendard Variable";
}

.f_bold {
    font-weight: 850;
}

.f_light {
    font-weight: 200;
}

.line {
    border: none;
    width: 100%;
    height: 0.3rem;
    background-color: black;
}

.padding {
    width: 100%;
    height: 2rem;
}

.flexbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_name {
    font-size: 5rem;
    margin-bottom: 3rem;
    color: black;
}

.profile_image {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-size: cover;
}

.description_tldr {
    font-size: 1.7rem;
    text-align: center;
}

.linkitem {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    border-radius: 1rem;
    margin-bottom: 1.3rem;
    position: relative;
    text-align: center;
    justify-content: center;
    transition: 0.2s;
}

.link_gh {
    border: 0.3rem solid black;
    color: black;
}

.link_gh:hover {
    background-color: black;
    color: whitesmoke;
}

.link_velog {
    border: 0.3rem solid #21c998;
    color: #21c998;
}

.link_velog:hover {
    background-color: #21c998;
    color: whitesmoke;
}
